@use "../base/colors" as *;
@use "../base/style-vars" as *;

.form__input {
    display: block;
    flex: 1 1 auto;
    position: relative;
    width: 100%;
    height: 100%;
    border-radius: $radius;
    font-size: 1rem;
    line-height: 1.5;
    color: $white;
    transition: border-color $transition, box-shadow $transition;

    span {
        display: block;
    }

    &:focus,
    &.has-value {
        + span {
            position: absolute;
            top: 15px;
            left: 20px;
            font-size: 0.75rem;
            color: $lt_2;
            padding: 0;
        }
    }
}
