@use "../base/mixins" as *;
@use "../base/colors" as *;
@use "../base/style-vars" as *;
@use "../base/functions" as *;

.recipe-card {
    display: flex;
    flex-flow: column nowrap;
    align-items: stretch;
    background-color: $dk_1;
    border-radius: $radius;
    overflow: hidden;
    color: $lt_1;
    transition: color $transition, background-color $transition,
        transform $transition;
    box-shadow: $shadow;

    &:hover,
    &:focus {
        background-color: $dk_2;
        color: $lt_2;
        transform: scale(1.03);
    }

    @include break(medium) {
        flex-flow: row nowrap;
    }

    @include break(large) {
        flex-flow: column nowrap;
        max-width: 600px;
    }
}
