@use "../base/colors" as *;
@use "../base/mixins" as *;
@use "../base/functions" as *;

.direction-list {
    counter-reset: direction-list;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 50px;
}
