@use "../base/mixins" as *;

.quickstart {
    padding: 30px 15px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: auto;
    gap: 15px;

    @include break(medium) {
        width: fit-content;
        grid-template-columns: auto auto;
    }
}
