@use "../base/colors" as *;
@use "../base/mixins" as *;
@use "../base/style-vars" as *;

.quickstart__button {
    display: grid;
    grid-template-columns: 1fr;
    gap: 5px 10px;
    align-items: center;
    background-color: $dk_1;
    color: $lt_1;
    padding: 20px 25px;
    border-radius: $radius;
    box-shadow: $shadow;
    height: 100%;
    transition: background-color $transition, color $transition;

    &:hover,
    &:focus {
        background-color: $dk-2;
        color: $lt-2;
    }

    @include break(large) {
        grid-template-columns: auto 1fr;
    }
}
