.search-form {
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    gap: 30px;

    > .form__group {
        flex: 0 0 auto;
        margin: 0;
    }

    .form__submit-button {
        margin: 0;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}
