@use "../base/mixins" as *;

.search-form {
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    gap: 30px;

    > .form__group {
        flex: 1 1 auto;
        margin: 0;
    }

    > div:first-of-type {
        flex: 0 0 100%;
    }

    .form__submit-button {
        margin: 0;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    @include break(large) {
        > .form__group {
            flex: 0 0 auto;
        }
        > div:first-of-type {
            flex: 1 1 auto;
        }
    }
}
